@font-face { font-family: Carnevalee; font-weight: bold; src: url('/img/fonts/carnevaleeFreakshow.ttf');}
body{
    background-image: url(/img/px2.jpg);
}

hr{
    background-color: #432818;
    border-color:  #432818;
    color: #432818;
    height: 1px;
}

.heightSet{
    height:250px;
}

.fa-mars{
    color:blue;
}

.fa-venus{
    color:#FF00FF;
}

.well{
    background: #FFE6A7;
}

.maxHeight{
    max-height: 100%;
    min-height: 95%
}

.center{
    margin-right: auto;
    margin-left: auto;
}

.redText{
    color: red;
    font-weight: bold;
}
.greenText{
    color: green;
    font-weight: bold;
}

.container{
    background-color: #FFE6A7;
}

.jumbotron{
    background-color: #D4AA7D;
    text-align: center;
}
.canevalee{
    font-family: Carnevalee, Serif;
}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
} 

#logo{
    max-width:200px;
    margin-top: -7px;
}

.navbar-brand{
    padding-right: 0px;

}
#logoSm{
    max-height:50px;
    margin-top: -10px;
}

#banner{
    width: 100%;
}

.centeredText{
    text-align: center;
}

#callMe{
    margin-bottom: 0px !important;
    background: #432818;
}

.btn-default{
    background: #FFE6A7;
}
.thumbnail {
    background: #432818;
}